@import "tailwindcss";

@theme {
    --color-deep-blue: oklch(0.269 0.1129 264.16);
    --color-a0: oklab(85.4% -0.011 -0.044);
    --color-a10: oklab(85.4% -0.011 -0.044);
    --color-a20: oklab(100% 0 0);
    --color-buttonBlue: #7B9FD1
}
